html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif !important;
    height: 100%;
    background-color: #F5F5F5 !important;
    letter-spacing: .5px;
    font-size: 14px;
}

body {
    font-size: 14px;
    color: #4c5258;
    letter-spacing: .5px;
    font-family: Roboto, sans-serif;
    background-color: #F5F5F5 !important;
    overflow-x: hidden;
}

.wrapper {
    width: auto;
    position: relative
}

a {
    text-decoration: none;
}

::placeholder {
    opacity: 0.4 !important;
}

#Overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(211 209 209 / 50%);
    z-index: 4999;
}

.LoderImg {
    width: 5%;
    position: fixed;
    top: 45%;
    z-index: 1000;
    display: none;
}

.alert-success {
    color: #0a5632 !important;
    background-color: #c6dfd4 !important;
    border-color: #badbcc;
    bottom: 1%;
    right: 1%;
    display: none;
    text-align: center;
    position: fixed;
    z-index: 2147483642;
    padding: 1rem 3rem 1rem 3rem !important;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    bottom: 1%;
    right: 1%;
    z-index: 100;
    display: none;
    text-align: center;
    position: fixed;
    z-index: 2147483642;
    padding: 1rem 3rem 1rem 3rem !important;
}

.w3-animate-right {
    animation: animateright 0.4s;
    position: fixed !important;
}

/* Page Content */

.page-content {
    margin-left: 250px;
    margin-top: 50px;
    padding: 1.5rem;
    transition: all .2s;
}

.PageHeading {
    font-weight: 600;
    font-size: 24px;
    color: #030E20;
}

.GridBox {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    overflow-x: hidden;
}

.innerGridBox {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 5px;
}

.gridsearchbar {
    position: relative;
}

.GridHeader {
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.gridsearchbar .form-control {
    border-radius: 10px;
    box-shadow: none;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: 1px solid #e2e3e4;
    background: #f9fafb;
    /* width: 30%; */
}

.GridTitle {
    font-weight: bold;
    font-size: 18px;
    color: #030E20 !important;
}

.searchIcon {
    opacity: 0.5 !important;
}

.form-check-input:checked {
    background-color: #3CBBA5 !important;
    border-color: #3CBBA5 !important;
}

.form-check-input {
    width: 1.2em !important;
    height: 1.2em !important;
    margin-top: .10em !important;
}

select {
    background: #F9FAFB !important;
    border: 1px solid #E2E3E4 !important;
    border-radius: 10px !important;
    padding: 5px !important;
    width: 100% !important;
}

.greyBox {
    background: #F7F8FA;
    border-radius: 10px;
    padding: 10px;
}

.innerGridBox tr td {
    cursor: pointer;
    position: relative;
}

.SaveBtn {
    background: #3CBBA5;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
    border-radius: 4px;
    border: 1px solid #3CBBA5;
    color: white;
    padding: 6px 10px 6px 10px;
    transition: 0.3s;
    cursor: pointer;
}

.SaveBtn:hover {
    background: white;
    color: #3CBBA5 !important;
    font-weight: 600;
}

.innerGridBox tr:hover {
    background-color: #F7FFFE;
}

.grid:hover {
    background-color: #F7FFFE;
}

.GridBgColor {
    background-color: #ebebeb;
}

.RocketImage {
    position: absolute !important;
    animation: fly 2s linear 0s infinite;
}

@keyframes fly {
    0% {
        top: 0%;
        left: 90%;
    }

    100% {
        top: 0%;
        left: 100%;
    }
}

.ImportInventoryBtn {
    background: #F9FAFB;
    border: 1px solid #E2E3E4;
    border-radius: 15px 0px 0px 15px;
    padding: 8px;
}

.BorderBtn {
    background: #F9FAFB;
    border: 1px solid #E2E3E4;
    border-radius: 15px;
    padding: 8px 13px 8px 13px;
    cursor: pointer;
}
.BorderColorBtn {
    background: #F9FAFB;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
    border-radius: 4px;
    border: 1px solid #E2E3E4;
    color: black;
    padding: 6px 10px 6px 10px;
    transition: 0.3s;
    cursor: pointer;
}

.UploadBtn {
    background: #F9FAFB;
    border: 1px solid #E2E3E4;
    border-radius: 0px 15px 15px 0px;
    padding: 8px;
}

input[type="file"] {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #151821;
}

::-webkit-scrollbar-thumb {
    background: #151821;
}

::-webkit-scrollbar-thumb:hover {
    background: #151821;
}

.GridNoRecord {
    padding: 10px;
    border-bottom: 1px solid #efe4e4;
}

.ActionBox {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 10px;
    text-align: start;
    position: absolute;
    z-index: 1;
}

.modal {
    top: 14% !important;
    left: 10% !important;
}

.ModalHeader {
    display: flex;
    align-items: center;
    padding: 15px;
}

.modal-content {
    padding-left: 15px;
    padding-right: 20px;
}

.form-check-input:focus {
    border-color: #3CBBA5;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(217 227 225) !important;
}

.PaginationClass {
    background: #FFFFFF;
    border: 0.5px solid #030E20;
    color: #030E20;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 5%;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}

.ActivePagination {
    background: #030E20;
    color: white;
}

.BlackFont {
    color: black !important;
}
.WhiteFont {
    color: white ;
}
.SaveBtn a{
    color: white;
}
.SaveBtn a:hover{
    color: #3CBBA5;
}

.FormLabel {
    font-size: 14px;
    color: #4C5258;
}

.form-control {
    border: 1px solid #E2E3E4 !important;
}

.SuggestionBox {
    padding: 8px 15px;
    background: #F9FAFB;
    border: 1px solid #E2E3E4;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #4C5258;
    transition: 0.3s;
    /* display: none; */
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    height: 180px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.SuggestionBox div {
    padding: 2px;
}

.SuggestionBox div:hover {
    background: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}
.brdr-Btm{
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}